version: '{build}'
os: Windows Server 2012
install:
  - cmd: choco install sbt -ia "INSTALLDIR=""C:\sbt"""
  - cmd: SET PATH=C:\sbt\bin;%JAVA_HOME%\bin;%PATH%
  - cmd: SET SBT_OPTS=-XX:MaxPermSize=2g -Xmx4g
clone_script:
  - cmd: >-
      git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%
      cd %APPVEYOR_BUILD_FOLDER%
      git checkout -qf %APPVEYOR_REPO_COMMIT%
      git submodule update --init --recursive
build_script:
  # Remember to keep that in sync with .drone.yml
  - sbt "+bridgeIntegration/cachedPublishLocal" \
        "benchmarks/compile" \
        "git status" \
        "setupTests" \
        "git status" \
        "backend/test" \
        "frontend/test"
